@page
@{
}
<div id="LoginForm" class="pt-5">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h1>Admin Login</h1>
                    <p>Please enter your username and password</p>
                </div>
                <form id="Login">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="forgot">
                        <a asp-controller="Staff" asp-action="Register">Register account</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
