@model eVoucher_BUS.Requests.StaffRequests.StaffRegisterRequest
@{
    ViewData["title"] = "Register staff";
}

<div class="card-header">
    <h3 class="text-center font-weight-light my-4">Register Account</h3>
</div>
<div class="card-body">
    <form asp-action="Register" method="post" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class="col-md-5">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="Name" name ="Name" type="text"/>
                    <label for="Name">Name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="Department" name="Department" type="text" />
                    <label class="mt-0" for="Department">Department</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-3 mb-md-0">                    
                    <select class="form-control" asp-for="Gender" 
                        asp-items="Html.GetEnumSelectList<eVoucher_Utility.Enums.Sex>()">                                                
                    </select>
                    <label for="Gender">Choose your gender</label>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="PhoneNumber" type="tel" />
                    <label for="PhoneNumber">Phone number</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="Email" type="email" />
                    <label for="Email">Email address</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="ConfirmEmail" type="email" />
                    <label for="ConfirmEmail">Confirm email address</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="UserName" name="UserName" type="text" />
                    <label for="UserName">UserName</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="Password" type="password"/>
                    <label for="Password">Password</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="ConfirmPassword" type="password"  />
                    <label for="ConfirmPassword">Confirm Password</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="CreatedBy" name="CreatedBy" type="text" hidden="true" value="Cuongpm" />
                    <label for="CreatedBy" hidden>Create by</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="CreatedTime" name="CreatedTime" type="datetime" value="@DateTime.Now" hidden="true"/>
                    <label for="CreatedTime" hidden>Creat time</label>
                </div>
            </div>            
        </div>
        <div class="mt-4 mb-0">
            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
        </div>
    </form>
    Status: <p>@ViewData["result"]</p>
</div>