@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
}

<div class="card-header">
    <h3 class="text-center font-weight-light my-4">eVoucher Admin Dashboard</h3>
</div>
<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">Owners</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 12rem;">
                <div class="card-body bg-primary text-white">
                    <h5 class="card-title">Customers</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-12">
            <canvas id="myChart" style="width:100%;max-width:700px;"></canvas>
        </div>
    </div>
    <div class="d-flex pt-3">
        <div class="flex-fill">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="flex-fill">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    new Chart("myChart", {
        type: "doughnut",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "eVoucher display"
            }
        }
    });
</script>