@page
@{
}
<div class="container">
    <div class="row">
        <div class="col col-md-5 col-sm-12">
            <div class="card p-2" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col col-md-7 col-sm-12">
            <h5>Campaign name</h5>
            <p>Campaign description</p>
            <partial name="_RandomWheelGame" />
            @*<partial name="_TerisGame" />*@
        </div>
    </div>
    <div class="row mt-3 bg-light py-3">
        <div class="col col-md-3">
            <div class="card p-2" style="width: 16rem;">
                <img src="..." class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col col-md-4">
            <h5>Store name</h5>
            <p>Address:.......</p>
            <p>Phone:.....</p>
            <p>Website:....</p>
        </div>
    </div>
</div>
@*<partial name="_GoogleMap" />*@