
@{

}

<div class="container" id="banner">
    <h1 class="title">eVoucherHub</h1>
    <h1 class="title title-large">eVoucherHub</h1>
    <div id="img-1" class="img-container">
        <img class="img" src="https://cdn.wallpapersafari.com/78/74/QfSdUt.jpg">
    </div>

    <div class="img-container second-animation">
        <img class="img" src="https://wallpapershome.com/images/pages/pic_v/13886.jpg">
    </div>

    <div class="img-container third-animation">
        <img class="img" src="https://images2.alphacoders.com/474/thumb-1920-474206.jpg">
    </div>

    <div class="img-container fourth-animation">
        <img class="img nba" src="https://wallpapercave.com/wp/wp3639738.jpg">
    </div>

    <div class="img-container fifth-animation">
        <img class="img" src="http://hdqwalls.com/wallpapers/fortnite-g5.jpg">
    </div>

    <div id="img-6" class="img-container sixth-animation">
        <img class="img" src="http://orig15.deviantart.net/3c71/f/2016/121/9/4/reaper_wallpaper__overwatch__by_prollgurke-da0wf9m.png">
    </div>

    <div id="img-7" class="img-container seventh-animation">
        <img class="img" src="https://images4.alphacoders.com/885/thumb-1920-885543.jpg">
    </div>
</div>
@*<div id="adWrapper">
    <svg class="Banner1" height="220" width="450">
        <polygon class="BorderAnimationEx1    BannerBorder" stroke-miterlimit="10" points="30 5, 20 200, 440 170, 440 55" style="fill:none; stroke:#000; stroke-width:5" />
        <polygon class="BannerHolder" points="5 31, 5 185, 410 205, 430 10" style=" opacity:0.2; fill: #000; " />
        <polygon class="BannerHolder" points="5 31, 5 180, 410 200, 430 10" style=" opacity:1; fill: #fdd808; " />
        <text class="Sales" x="43" y="122" font-family="Viga" font-size="65" opacity="0.8" fill="#fff">
            SALES <tspan x="43" y="119" font-family="Viga" font-size="65" fill="#000"> SALES </tspan>
        </text>
        <text class="Biggest" font-size="23" fill="#000" font-weight="300" font-family="Viga">
            <tspan x="270" y="70">B I G G E S T</tspan>
            <tspan x="287" y="95">S A L E S</tspan>
            <tspan x="302" y="120">UP TO</tspan>
            <tspan x="313" y="143">70%</tspan>
            <tspan x="314" y="168">OFF</tspan>
        </text>


        <text class="ShopNow" x="76" y="161.5" font-family="Viga" opacity="0.8" font-size="20" fill="#fff">
            S H O P&nbsp;&nbsp;N O W
        </text>
        <polyline class="BorderAnimationEx1 BannerBorderLine" points="30 3, 20 200" style="fill:none; stroke:#000; stroke-width:4.5;" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg class="Banner2" height="220" width="450">
        <polygon class="BorderAnimationEx2 BannerBorderEx2" stroke-miterlimit="10" points="30 5, 20 200, 440 170, 440 55" style="fill:none; stroke:#000; stroke-width:5" />
        <polygon class="BannerHolderEx2" points="5 31, 5 185, 410 205, 430 10" style="opacity:0.2;fill:#000;" />
        <polygon class="BannerHolderEx2" points="5 31, 5 180, 410 200, 430 10" style="opacity:1;fill:#0ADBB3;" />
        <text class="SalesEx2" font-family="Viga" font-size="65">
            <tspan fill="#000" opacity="0.8" x="43" y="120" font-family="Viga" font-size="65" opacity="1">OFFER</tspan>
            <tspan x="43" y="117" font-family="Viga" font-size="65" opacity="1" fill="#fff">OFFER</tspan>
        </text>

        <text class="Mega" font-weight="300" font-family="Josefin Sans" font-size="23" fill="#000">
            <tspan font-weight="700" x="280" y="60">MEGA</tspan>
            <tspan x="280" y="97">SALES</tspan>
            <tspan font-weight="700" x="270" y="136">LIMITED</tspan>
            <tspan x="260" y="175">QUANTITY</tspan>
        </text>


        <text class="ShopNowEx2" font-family="Josefin Sans" font-weight="700" font-size="20" fill="#fff">
            <tspan fill="#000" x="65" y="157">S H O P&nbsp; &nbsp;N O W</tspan>
            <tspan x="65" y="155">S H O P&nbsp; &nbsp;N O W</tspan>

        </text>
        <polyline class="BorderAnimationEx2 BannerBorderLineEx2" points="30 3, 20 200" style="fill:none; stroke:#000; stroke-width:4.5;" />


        Sorry, your browser does not support inline SVG.
    </svg>
    <svg class="Banner3" height="220" width="450">
        <polygon class="BorderAnimationEx3 BannerBorderEx3" stroke-miterlimit="10" points="30 5, 20 200, 440 170, 440 55" style="fill:none; stroke:#000; stroke-width:5" />
        <polygon class="BannerHolderEx3" points="5 31, 5 185, 410 203, 430 10" style="opacity:0.2;fill:#000;" />
        <polygon class="BannerHolderEx3" points="5 31, 5 180, 410 200, 430 10" style="opacity:1; fill:#EC3B71; " />
        <text class="SalesEx3" font-family="Viga" font-size="65">
            <tspan x="53" y="95" opacity="0.5" fill="#000" x="55" font-weight="700" y="160">S&nbsp; A&nbsp;  L&nbsp; E</tspan>
            <tspan x="53" y="90" opacity="1" fill="#fff" x="55" font-weight="700" y="160">S&nbsp; A&nbsp;  L&nbsp; E</tspan>
        </text>
        <text class="Best" x="53" y="130" font-size="20" font-weight="300" font-family="Josefin Sans" fill="#000">
            T H E &nbsp;&nbsp;&nbsp;&nbsp; B E S T
            <tspan x="245" y="130" font-weight="700">D I S C O U N T</tspan>
        </text>

        <text class="Limited" x="55" y="160" font-family="Josefin Sans" font-size="20" font-weight="700" fill="#fff">
            L&nbsp; I&nbsp; M&nbsp; I&nbsp; T&nbsp; E&nbsp; D&nbsp;
            <tspan x="245" y="160" font-weight="300" font-family="Josefin Sans">Q U A N T I T Y</tspan>
        </text>
        <polyline class="BorderAnimationEx3 BannerBorderLineEx3" points="30 3, 20 200" style="fill:none; stroke:#000; stroke-width:4.5;" />


        Sorry, your browser does not support inline SVG.
    </svg>

</div>
<style>
 $(document).ready(function(){
  /* Ex1 */
    $(".Banner1").delay(1000).fadeIn(500);  
    $(".BannerBorder,.BannerBorderLine").delay(1000).fadeIn(500);
    $(".BannerHolder").delay(2500).fadeIn(1000);
    $(".Sales").delay(3500).fadeIn(1000);
    $(".Biggest").delay(4500).fadeIn(1000);
    $(".ShopNow").delay(5500).fadeIn(1000);
  
  
        /* Ex2 */
    $(".Banner2").delay(6000).fadeIn(500);
    $(".BannerHolderEx2").delay(6500).fadeIn(500);
    $(".BannerBorderEx2,.BannerBorderLineEx2").delay(7000).fadeIn(500);
    $(".SalesEx2").delay(7300).fadeIn(500);
    $(".Mega").delay(8500).fadeIn(500);
    $(".ShopNowEx2").delay(9000).fadeIn(500);

         /* Ex3 */
    $(".Banner3").delay(10000).fadeIn(500);
    $(".BannerHolderEx3").delay(10500).fadeIn(500);
    $(".BannerBorderEx3,.BannerBorderLineEx3").delay(11000).fadeIn(500);
    $(".SalesEx3").delay(11300).fadeIn(500);
    $(".Best").delay(12500).fadeIn(500);
    $(".Limited").delay(13000).fadeIn(500);
 };
  
</style>*@